.container {
    margin: 20px;
    padding: 20px;
}

.subforum {
    margin-top: 20px;
}

.subforum-title {
    background-color: crimson;
    padding: 5px;
    border-radius: 5px;
    margin: 4px;
}

.subforum-row {
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.subforum-column {
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
}